// color
$white: #fff;
$blue: #409eff;
$green: #67c23a;
$orange: #e6a23c;
$red: #f56c6c;
$grey: #909399;
$text-1: #303133;
$text-2: #606266;
$text-3: $grey;
$text-4: #c0c4cc;
$border-1: #dcdfe6;
$border-2: #e4e7ed;
$border-3: #ebeef5;
$border-4: #f2f6fc;
// size
$head-height: 60px;
$menu-width: 210px;
$media-menu-width: 63px;
